all:
  vars:
    ansible_ssh_common_args: '-F ../files/ssh_config'
  children:
    work_servers:
      hosts:
%{ for i in range(server_count) ~}
        ${work_servers[i].name}:
%{ endfor ~}
    management_servers:
      hosts:
        ${management_server.name}:

